<div class="contain-reset-password">
    <div class="login-box">
        <p>Password reset</p>
        <p>Receive a new password to your WhatsApp</p>
        <form [formGroup]="connexionForm" (submit)="onSubmit()">
            <div class="form-login">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" [formControlName]="'username'" >
                    <mat-icon matSuffix>phone</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <button mat-flat-button [disabled]="!connexionForm.valid"
                [ngClass]="!connexionForm.valid == true ? 'disable-button' : 'valid-button'">Reset password</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>

