<div class="contain-signup">
    <div class="login-box">
        <p>Create your online store</p>
        <form [formGroup]="signForm" (submit)="onSubmit()">
            <div class="form-login">
                <mat-form-field appearance="outline">
                    <mat-label>WhatsApp number</mat-label>
                    <input matInput placeholder="WhatsApp number" [formControlName]="'whatsapp'">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-hint>Receive orders at this number.</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Store name</mat-label>
                    <input matInput placeholder="Store name" [formControlName]="'storename'">
                    <mat-icon matSuffix>key</mat-icon>
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Store ID</mat-label>
                    <input matInput placeholder="Store ID" [formControlName]="'storeid'">
                    <mat-icon matSuffix>fingerprint</mat-icon>
                    <mat-hint>This will be your website link. You can edit it later.</mat-hint>
                </mat-form-field>
                <button mat-flat-button [disabled]="!signForm.valid"
                [ngClass]="!signForm.valid == true ? 'disable-button' : 'valid-button'">Set up store</button>
            </div>
        </form>
    </div>
    <form action="" class="form-login">
        
    </form>
</div>
<app-footer></app-footer>

