

.multistep{
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: lightblue;
}